<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-fcm"
        version="1.1.5">
    <name>FCMPlugin</name>
    <description>Cordova FCM Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, fcm, push, plugin</keywords>

    <info>Cordova FCM plugin</info>

    <js-module src="www/FCMPlugin.js" name="FCMPlugin">
        <clobbers target="FCMPlugin" />
    </js-module>

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <!-- ANDROID CONFIGURATION -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                 android:name="com.google.firebase.messaging.default_notification_channel_id"
                 android:value="@string/default_notification_channel_id"/>
            <activity android:exported="true"
                      android:name="com.cordova.plugin.firebase.FCMPluginActivity"
                      android:launchMode="singleTop">
                <intent-filter>   
                    <action android:name="FCM_PLUGIN_ACTIVITY" />  
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>            
            </activity>
            <service android:name="com.cordova.plugin.firebase.CordovaFirebaseMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FCMPlugin" >
                <param name="android-package" value="com.cordova.plugin.firebase.FCMPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <framework src="src/android/FCMPlugin.gradle" custom="true" type="gradleReference"/>

        <source-file src="src/android/res/values/fcm_notifications.xml" target-dir="res/values" />
        <source-file src="src/android/FCMPlugin.java" target-dir="src/com/cordova/plugin/firebase" />
        <source-file src="src/android/CordovaFirebaseMessagingService.java" target-dir="src/com/cordova/plugin/firebase" />
        <source-file src="src/android/FCMPluginActivity.java" target-dir="src/com/cordova/plugin/firebase" />
    </platform>

    <!-- IOS CONFIGURATION -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FCMPlugin">
                <param name="ios-package" value="FCMPlugin"/>
            </feature>
        </config-file>

        <!-- Enable Firebase method swizzling -->
        <config-file target="*-Info.plist" parent="FirebaseAppDelegateProxyEnabled">
            <true/>
        </config-file>

        <!-- ENABLE PUSH CAPABILITY -->
        <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
            <string>development</string>
        </config-file>
        <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
            <string>production</string>
        </config-file>
        
        <header-file src="src/ios/FCMPlugin.h" />
        <source-file src="src/ios/FCMPlugin.m" />
        <header-file src="src/ios/FCMQueue.h" />
        <source-file src="src/ios/FCMQueue.m" />
        <header-file src="src/ios/AppDelegate+FCMPlugin.h" />
        <source-file src="src/ios/AppDelegate+FCMPlugin.m" />
        
        <!-- FIREBASE LIBS -->
        <header-file src="src/ios/Firebase/Firebase.h" />
        <framework src="src/ios/Firebase/Analytics/FirebaseAnalytics.framework" custom="true" />
        <framework src="src/ios/Firebase/Analytics/FirebaseCore.framework" custom="true" />
        <framework src="src/ios/Firebase/Analytics/FirebaseCoreDiagnostics.framework" custom="true" />
        <framework src="src/ios/Firebase/Analytics/FirebaseInstanceID.framework" custom="true" />
        <framework src="src/ios/Firebase/Analytics/FirebaseNanoPB.framework" custom="true" />
        <framework src="src/ios/Firebase/Analytics/GoogleToolboxForMac.framework" custom="true" />
        <framework src="src/ios/Firebase/Analytics/nanopb.framework" custom="true" />
        <framework src="src/ios/Firebase/Messaging/FirebaseMessaging.framework" custom="true" />
        <framework src="src/ios/Firebase/Messaging/Protobuf.framework" custom="true" />    
        
        <!-- OTHER NEEDED LIBS -->
        <framework src="libc++.tbd" />
        <framework src="libz.tbd" />
        <framework src="AddressBook.framework" />
        <framework src="libsqlite3.0.tbd" />
        <framework src="libz.tbd" />
        <framework src="Security.framework" />
    </platform>

    <!-- COPY FCM CONFIG FILES TO PLATFORM AFTER PLUGIN INSTALL OR PLATFORM PREPARE -->
    <hook src="scripts/fcm_config_files_process.js" type="after_plugin_add" />
    <hook src="scripts/fcm_config_files_process.js" type="after_prepare" />

</plugin>
